<div ng-controller="StandingsCtrl as standings" ng-show="players">
    <table class="table-bordered table-striped">
        <thead>
        <tr>
            <th>Player</th><th>Record</th><th></th>
        </tr>
    </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td><a href="#players/{{player.id}}">{{player.name}}</a></td>
            <td>({{player.wins}}-{{player.losses}})</td>
            <td>{{player.winningPercentage | number:3}}</td>
        </tr>
    </tbody>
    </table>
    <input type="button" value="Add a player" ng-hide="addingPlayer"
           ng-click="addingPlayer=!addingPlayer"/>
<div ng-show="addingPlayer">
    Add a new Player
    <form ng-submit="insertPlayer()" >
        <input type="email" ng-model="emailAddress" placeholder="email address" required />
        <input type="text" ng-model="name" placeholder="name" required />
        <input type="submit" value="add">
        <input type="button" value="cancel" ng-click="addingPlayer=!addingPlayer" />
    </form>
</div>
</div>
