<div ng-show="standings.players">
    <table class="table-bordered table-striped std-table">
        <thead>
            <tr>
                <th>Player</th><th>Record</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in standings.players">
                <td><a href="#players/{{player.id}}">{{player.name}}</a></td>
                <td>({{player.wins}}-{{player.losses}})</td>
                <td>{{player.winningPercentage | number:3}}</td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Add a player" ng-hide="standings.addingPlayer"
    ng-click="standings.addingPlayer=!standings.addingPlayer"/>
    <div ng-show="standings.addingPlayer">
        Add a new player.
        <form ng-submit="standings.insertPlayer()" >
            <input type="email" ng-model="standings.emailAddress" placeholder="email address" required />
            <input type="text" ng-model="standings.name" placeholder="name" required />
            <input type="submit" value="add">
            <input type="button" value="cancel" ng-click="standings.addingPlayer=!standings.addingPlayer" />
        </form>
    </div>
</div>
