.std-table {
    border-spacing: 2px;
    border: 2px solid black
}
.std-table td {
    border: 2px solid black;
    padding: 5px;
}
.std-table th {
    border: 2px solid black;
    padding:5px;
}
.win {
    background-color:lightgreen !important;
}
.loss {
      background-color:#FF6600 !important;
}
.std-table tbody tr:nth-child(odd) {
       background-color: #ccc;
   }
