.std-table {
    border-spacing: 2px;
    border: 2px solid black;
}
.std-table td {
    padding:5px;
}
.std-table th {
    padding:5px;
}
.cell-bordered-table td {
    border: 2px solid black;
    padding: 5px;
}
.cell-bordered-table th {
    border: 2px solid black;
}
.win {
    background-color:lightgreen !important;
}
.loss {
      background-color:#FF6600 !important;
}

