<!doctype html>
<html lang="en" ng-app="net.stevemoyer.vbrank.app">
    <head>
        <meta charset="utf-8"/>
        <title>Volleyball Game Tracker</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/animations.css" />

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/closure-libraray/closure/goog/base.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="deps.js"></script>
        <script> goog.require('net.stevemoyer.vbrank.app')</script>
    </head>
    <body>
        <div ><ul class="nav nav-tabs" ng-controller="TabsCtrl as tabCtrl" >
            <li ng-class="tabCtrl.tabClass(tab)" ng-repeat="tab in tabCtrl.tabs" tab="tab">
                <a href="{{tab.link}}" ng-click="tabCtrl.setSelectedTab(tab)">{{tab.label}}</a>
            </li>
        </ul></div>
        

        <div class="view-container">
            <div ng-view > </div>
        </div>

    </body>
</html>
